body{
    background-image: url(../img/barberphoto2.jpg);
    background-size: 100% auto;
    box-shadow: inset 0 0 0 10000px rgba(0,0,0,0.3);
    /* background-attachment: fixed; */
}

#lista h3{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
.active{
    color:#fa6400;
}
hr {
    border: 0.5px solid #bdc5d1; /* colore e stile del bordo del divider */
    margin: 20px 0; /* spaziatura sopra e sotto il divider */
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(../img/homebackg.jpg); */
}

.whitebox{
    margin: 150px 100px;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 30px 5px;
}

#lista ul{
    padding: 0;
    display: flex;
    gap: 30px;
    margin: 20px 0;
    align-items: center;
}

#lista li{
    display: inline-block;
}

#lista nav ul li p{
    cursor: pointer;
    margin: 0;
    transition: all ease 0.5s;
}

.space{
    flex-grow: 1;
}

.flexcards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 140px;  /*minimo per contenere date "larghe" come 0000-00-00*/
    height: 130px;
    flex-shrink: 0;
    background-color: rgb(240, 240, 240);
    border: 1px solid #0000003b;
    border-radius: 3px;
    padding: 10px;
}

.card p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.accbutton{
    padding: 5px 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

        background-color: #fa6400;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        font-size: 16px;
        font-family: "Bitter", "Palatino Linotype", Times;
}

button.accbutton{
    width: 102px; /*i button considerano come width la somma di dimensione, padding, bordi e margini*/
}

a.accbutton{
    width: 60px;
}

.flexdati{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
}

.flexbarber{
    display: flex;
    margin: 20px 0 10px;
}

.barber::first-letter{
    text-transform: uppercase;
}

.flexprefesterno{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flexprefinterno{
    display: flex;
    align-items: center;
    gap: 30px;
}

.flexprefinterno div{
    width: 220px;
}

#sezioneDati p{
    margin: 0;
}

#sezionePrenotazioni{
    display: none; 
}

#sezionePreferenze{
    display: none; 
}




