body{
    margin: 0;
    padding: 100px;
}
.footer{
  background-color: black;
}
.footer ul{
  color: white;
  list-style: none;
  padding: 0;
}
.footer li{
  margin-bottom: 20px;
}
.footer ul span{
  color: #848788;
}

.copy{
  display: flex;
  justify-content: space-between;
  color: #848788;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 200;
  border-top: 1px solid #848788;
}

a{
  text-decoration: none;
  color: #848788
}

.fa.ficon{
  margin-left: 15px;
  font-size: 24px;
}


.fprinc{
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coll-1{
  display: flex;
  flex-direction: column;
  width: 15%;
}
.coll-2{
  display: flex;
  flex-direction: column;
  width: 20%;
}
.coll-3{
  display: flex;
  flex-direction: column;
  width: 15%;
}
.coll-4{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.fform{
  color: white;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
}
.fform::placeholder{
  color: white;
}
.footer form{
  margin-block-start: 1em;
}

a:hover{
  color: #fa6400;
  transition: all 0.5s ease;
}

.bottone{
  cursor: pointer;
  font-family: Times;
  background-color: transparent;
  z-index: 2;
  font-size: 18px !important;
  font-weight: 600;
  justify-content: center;
  color: #fa6400;
  border: 1px solid #fa6400;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 0.3s ease;
}
.bottone:hover{
  z-index: 2;
  color: white;
  background-color: #fa6400;
  transition: all 0.3s ease;
}