.footer{
  background-color: black;
}
.footer ul{
  color: white;
  list-style: none;
  padding: 0;
}
.footer li{
  margin-bottom: 20px;
}
.footer ul span{
  color: #848788;
}
.footer h3{
  color: white;
  font-weight: 500;
}

.copy{
  display: flex;
  justify-content: space-between;
  color: #848788;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 200;
  border-top: 1px solid #848788;
}

.footer a{
  text-decoration: none;
  color: #848788
}

.fa.ficon{
  margin-left: 15px;
  font-size: 24px;
}


.fprinc{
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coll-1{
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-top: 12px;
}
.coll-2{
  display: flex;
  flex-direction: column;
  width: 20%;
}
.coll-3{
  display: flex;
  flex-direction: column;
  width: 15%;
}
.coll-4{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.fform{
  color: white;
  width: 90%;
  max-width: 90%;
  background-color: transparent;
  border: 1px solid white;
  padding: 13px 23px;
  margin-bottom: 20px;
  resize: none;
}
.fform::placeholder{
  color: white;
}
.footer form{
  margin-block-start: 1em;
}

a:hover{
  color: #fa6400;
  transition: all 0.5s ease;
}

@media (max-width: 1350px) {
  .coll-1 {
      width: 200px;
  }
}
@media (max-width: 1000px) {
  .fprinc{
    flex-wrap: wrap;
  }
  .coll-1 {
      width: 50%;
  }
  .coll-2 {
    width: 50%;
  }
  .coll-3 {
    width: 50%;
  }
  .coll-4 {
    width: 50%;
  }
}