body {
    margin: 0px !important;
}

.headertransition{
    transition: all ease 0.5s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.centeredflexrow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 100px;
    width: 100px;
    z-index: 2;
}

nav ul {
    margin: 0;
    padding: 0;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 2;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    z-index: 2;
}

#galleria{
    border: 3px double yellow;
}

#prenota{
    border: 2px solid #3498db;
    background-color: #2ecc71;
}

#sezioni_homepage{
    color: white;
}