.headertransition{
    transition: all ease 0.5s;
}

.sticky {
    z-index: 200;
    position: fixed;
    top: 0;
    width: 100%;
}

.header{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    height: 100px;
}

.logo {
    height: 100px;
    width: 200px;
    z-index: 2;
    margin-right: 100px;
}

nav ul {
    margin: 0;
    padding: 0;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    margin-left: 0px;
    margin-right: 20px;
    z-index: 2;
    font-weight: 600;
    font-size: 18px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    z-index: 2;
}

.colonna1{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.colonna2{
    width: 70%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.colonna3{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navlist{
    white-space: nowrap;
}

.fa-user:before {
    content: "\f007";
    vertical-align: -webkit-baseline-middle;
    color: white;
    margin-left: 30px;
}

.account{
    align-self: center;
}

@media (max-width: 1150px) {
    .colonna1 {
        width: 230px;
    }
}

@media (max-width: 940px) {
    #chisiamo {
        display: none;
    }
}

@media (max-width: 835px) {
    #contattaci {
        display: none;
    }
}

@media (max-width: 730px) {
    #servizi {
        display: none;
    }
}