body{
    margin: 0px;
    padding: 0px;
}
.div_home{
    background-image: url(../img/homebackg.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    
}
#welcome{
    color: white;
    font-size: 64px;
    z-index: 2;

}
.overlay{
    top: 154px;
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Black see-through */
    z-index: 1;
}
.btn{
    z-index: 2;
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}
.chiSiamo{
    background-image: url(../img/chiasiamobckg.jpg);
    background-size: cover;
    color: white;
    height: 100vh;
}
.chiSiamo h1{
    text-align: center;
    margin: 0;
    font-size: 40px;
    padding: 20px;
}
.chiSiamo .row{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    gap: 200px;
    padding: 100px;
}
.chiSiamo .content{
    text-align: justify;
    align-items: center;
    font-size: 25px;
}
.chiSiamo .mapImg #map{
    height: 400px;  /* The height is 400 pixels */
    width: 400px;  /* The width is the width of the web page */
}
.servizi {
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Due colonne di larghezza uguale */
    gap: 20px; /* Spazio tra i servizi */
    justify-content: center; /* Allinea la griglia al centro della section */
}

.servizi > div {
    margin-left: 100px;
    border: none; /* Stile di esempio per i bordi */
    padding: 10px; /* Spaziatura interna di esempio */
    max-width: 500px;
    font-size: 20px;
}

/* Imposta le posizioni dei singoli servizi nella griglia */
.cut {
    grid-column: 1; /* Prima colonna */
    grid-row: 1; /* Prima riga */
}

.beradcut {
    grid-column: 2; /* Seconda colonna */
    grid-row: 1; /* Prima riga */
}

.buzzcut {
    grid-column: 1; /* Prima colonna */
    grid-row: 2; /* Seconda riga */
}

.shave {
    grid-column: 2; /* Seconda colonna */
    grid-row: 2; /* Seconda riga */
}