.div_home:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the alpha (fourth parameter) for the overlay color and transparency */
}
.div_home{
    position: relative;
    background-image: url(../img/homebackg.jpg);
    height: 100vh;
    min-height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.welcome2{
    z-index: 2;
    color: white;
    font-weight: 200;
    margin-bottom: 70px;
}
#welcome{
    z-index: 2;
    color: white;
    font-size: 64px;
    margin: 0;
    margin-top: 50px;
}

.icona{
    color: #fa6400;
}

.chiSiamo{
    background-image: url(../img/white\ background.svg);
    background-position: center center;
    background-repeat: repeat;
    background-size: 450px;
    color: white;
    padding-top: 100px;
}
.chiSiamo h1, .sec_gallery h1{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 48px;
}
.chiSiamo h3{
    color: black;
}
.chiSiamo p{
    font-size: 20px;
    color: #77838f;
    text-align: center;
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.chiSiamo .row{
    display: flex;
    justify-content: center;
    align-items:  center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 20px;
    gap: 15%;
}
.chiSiamo .content{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
}
.chiSiamo .mapImg {
    width: 40%;
    height: 100%;
}
.chiSiamo .mapImg #map{
    min-width: 400px;
    min-height: 400px;
    max-height: 400px; 
    max-width: 600px;  
}
.chiSiamo ul{
    padding-inline-start: 0;
    margin-bottom: 50px;
}
.chiSiamo li{
    margin-bottom: 20px;
    white-space: nowrap;
}
.lista{
    color: #1e1e1e;
    font-size: 18px;
    margin-left: 20px;
    display: inline-flex;
}

@media (max-width: 1000px){
    .content{
        gap: 50px;
        width: 100% !important;
        flex-direction: row !important;
        align-items: center;
    }
    .mapImg{
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    .row{
        flex-direction: column;
    }
    #map{
        width: 600px;
        height: 400px;
    }
    .verticalflex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .chiSiamo ul{
        margin-bottom: 0;
    }

}


#headerContainer {
    z-index: 10;
}

hr {
    border: 0.5px solid #bdc5d1; /* colore e stile del bordo del divider */
    margin: 40px 0; /* spaziatura sopra e sotto il divider */
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}





.servizi{
    position: relative;
    background-image: url(../img/barber_bg.jpeg);
    background-size: 100% auto;
    padding: 100px;
    text-align: center;
    box-shadow: inset 0 0 0 10000px rgba(0,0,0,0.8);
}


.servizi h1{
    position: relative;
    color: white;
    font-size: 48px;
    margin-block-start: 0;
}


.div_serv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col-1{
    width: 45%;
    flex-direction: column;
}
.col-2{
    width: 45%;
    flex-direction: column;
}
.div_serv h2, .div_serv h3{
    color: white;
    font-weight: 500;
    margin-block-end: 10px;
}
.div_serv p {
    color: #848788;
    float: inline-end;
    margin: 0;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid #848788;
    margin-bottom: 50px;
}
.name{
    float: left;
}
.price{
    float: right;
}

.sec_gallery p{
    font-size: 20px;
    color: #77838f;
    text-align: center;
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
}

.galleria {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}
.galleria_in {
    display: flex;
    transition: transform 0.5s ease;
}
.galleria_in img {
    margin-right: 8px;
    width: 33%;
    height: auto;
}
.freccia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 32px;
}
.dietro {
    left: 20px;
}
.avanti {
    right: 20px;
}
.sec_gallery{
    background-image: url(../img/white\ background.svg);
    background-position: center center;
    background-repeat: repeat;
    background-size: 450px;
    padding-top: 70px;
    padding-bottom: 120px;
}