body{
    /* background-color: black;
    background-image: url(../img/white\ background.svg);
    background-position: center center;
    background-repeat: repeat;
    background-size: 450px; */

    background-image: url(../img/Sedia-da-barbiere.jpg);
    background-size: 100% auto;
    box-shadow: inset 0 0 0 10000px rgba(0,0,0,0.55); /*da esterno a interno, offset 0 0, sfocatura 0, dimensione sufficientemente grande, colore*/
   /*  background-attachment: fixed; */
}

h1, h2{
    text-align: center;
}

h1{
    color: white;
    font-size: 64px;
}

h2{
    font-size: 24px;
    margin-top: 0;
}

.prenota_main{
    background-color: white;
    display: flex;
    width: 400px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    margin-bottom: 70px;
    justify-content: center;
    padding: 50px;
    border: 1px solid transparent;
    border-radius: 25px;
}
.barbieri{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.barbutton{
    background-color: white;
    font-weight: 600;
    color: #ff8330;
    border: 2px solid #ff8330;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}
.black{
    border-color: black;
    color: black;
    padding: 15px;
    width: auto !important;
}
.black:hover{
    background-color: black !important;
}
.no-margin{
    margin-bottom: 0px !important;
    margin-top: 10px;
}

.p-bottoni{
    gap: 30px;
    display: flex;
    justify-content: center;
}
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.date > input{
    padding: 10px;
    cursor: pointer;
    border: 0px;
    font-size: 32px;
    color: black;
    text-align: center;
}
#orari{
    display: flex !important;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
#orari button{
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    font-family : Arial !important;
}


.unavailable{
    background-color: lightgray;
    border: 0px;
}

.available{
    background-color: #ff8330;
    cursor: pointer;
    border: 0px;
}

.active{
    background-color: #ff8330;
    color: white;
    transition: all 0.3s ease;
}

.freccia{
    font-size: 24px;
    cursor: pointer;
}
#sinistra{
    visibility: hidden;
}
#destra{

}

#datePicker input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* STILE POPUP */
.popup-sfondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-contenuto {
    border: 0px soldi transparent;
    border-radius: 25px;
    background-color: #fff; 
    text-align: center;
    padding: 40px;
}

.popup-contenuto .barbutton{
    padding: 15px;
}

.popup-contenuto .barbutton:hover{
    background-color: #ff8330;
    color: white;
    transition: all 0.3s ease;
}

.chiudiflex{
    display: flex;
    justify-content: flex-end;
}

.popup-chiudi{
    margin-top: -20px;
    margin-right: -10px;
    right: 35%;
    color: rgb(144, 144, 144);
    cursor: pointer;
    font-size: 30px;
}
.effettuata{
    color: green;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

#noLog{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
