body{
    margin: 0px;
    padding: 0px;
}

.errore {
    color: red;
    font-weight: bold;
}

.container{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/homebackg.jpg);
}

#logobox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whitebox{
    margin: 25px;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 30px;
}

#registrati{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}

#registered{
    font-size: 15px;
    font-weight: 400;
}


